
.top-container {
    padding: 5px;
    text-align: center;
}

.table-menu {
    display: flex;
    background-color: rgb(253, 250, 255);
}



.button-container {
    padding: 5px;
    padding: 5px;
}