.gamestatus {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gameactions {
   margin-left: 10px;
}

.status-and-actions {
    display: flex;
    justify-content: center;
    height: 300px;
}